extends szablon_base

block content
    article
        br
        h2 Sprawozdanie 1 z Web 2.0
        p MEAN Stack po stronie serwera (back-end)
        section
            p Zadania do sprawozdania
                ul
                li.text Prosta aplikacja wykorzystująca trasowanie (rooting), podział na moduły,
                li.text Wykorzystanie silnika szablonów, np. Pug,
                li.text Przygotowanie prostego REST API, np. za pomocą pakietu mongoose,
                li.text Wykorzystanie sesji i logowania za pomocą passport
                li.text Wykorzystanie JSON Web Token
                li.text Rejestracja z potwierdzeniem aktywacji konta przez e-mail
                li.text Wykorzystanie Bootstrapa lub innych bibliotek odpowiedzialnych za front-end
                li.text Aplikacja działająca online
            p Niektóre pozycje widoczne są po zalogowaniu się, administrator posiada dodatkowo możliwość wglądu w liste użytkowników
            p Web 2.0 - Sprawozdanie Pawel Pluskota
