doctype html5
html
    head
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        style
          include ../node_modules/bootstrap/dist/css/bootstrap.css
          include ../public/stylesheets/main.css
        title Pawel Pluskota - Sprawozdanie 
    include partials/header
    div.content
        include partials/menu
        block content

    include partials/footer
