extends ../szablon_base

block content
  .container
    form(action='/users/register',method='post')
            div.form-group
              input#text.form-control(type='text', placeholder='Enter username', name='username')
            div.form-group
              input#email.form-control(type='email', placeholder='Enter email', name='email')
            div.form-group
              input#pwd.form-control(type='password', placeholder='Enter password', name='password')
            div.form-group
                input#pwd.form-control(type='password', placeholder='Confirm password', name='confirm_password')
            div.form-group
                input(type='submit', value='Register')
